.darkModeBtn {
    background-color: var(--darkModeBg-veryDarkBlue);
    color: var(--darkModeText-ligthModeElements-white);

    header {
        background-color: var(--darkModeElements-darkBlue);
        box-shadow: 0px -17px 10px 12px var(--darkModeBg-veryDarkBlue);
    }
    main .select__countrys,
    main .input {
        background-color: var(--darkModeElements-darkBlue);
        color: var(--darkModeText-ligthModeElements-white);
        box-shadow: 0px 0px 6px -3px var(--darkModeBg-veryDarkBlue);
    }
    .card {
        background-color: var(--darkModeElements-darkBlue);
        box-shadow: 0px 0px 6px -3px var(--darkModeBg-veryDarkBlue);
    }
    .card__title,
    .card__text,
    .card__result {
        color: var(--darkModeText-ligthModeElements-white);
    }
    .button-back {
        background-color: var(--darkModeElements-darkBlue);
        color: var(--darkModeText-ligthModeElements-white);
        box-shadow: 0px 0px 9px -2px var(--lightModeText-veryDarkBlue);
    }
    .country__border {
        background-color: var(--darkModeElements-darkBlue);
        color: var(--darkModeText-ligthModeElements-white);
        box-shadow: 0px 0px 6px -3px var(--darkModeBg-veryDarkBlue);
    }
}