main {
    padding: 4rem 2rem;
}
@media (min-width: 768px) {
    main {
        padding: 4rem 4rem;
    }
}
@media (min-width: 1440px) {
    main {
        padding: 4rem 6rem;
    }
}
fieldset {
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
@media (min-width: 1440px) {
    .form {
        flex-direction: row;
        justify-content: space-between;
    }
}

.input {
    display: flex;
    gap: 2rem;
    background-color: var(--colorWhite);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -3px var(--ligthModeInput-darkGray);
}
@media (min-width: 1440px) {
    .input {
        width: 50rem;
    }
}
.input__icon {
    flex-basis: 2rem;
}
.input__icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.input__search {
    all: unset;
    flex-basis: 98%;
    font-weight: 600;
}
@media (min-width: 768px) {
    .input__search {
        font-size: 1.7rem;
    }
}

.select__countrys {
    padding: 2rem 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--colorWhite);
    box-shadow: 0px 0px 6px -3px var(--ligthModeInput-darkGray);
}
@media (min-width: 1440px) {
    .select__countrys {
        padding: 2rem 4rem;
        font-size: 1.7rem;
    }
}